.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #494949;
}

.navbar .container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  cursor: pointer;
  width: 10%;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-left: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.account {
  padding-left: 0.5em;
}

.nav-link.active {
  font-weight: bold;
}

.search-form {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.account-items {
  display: flex;
  flex-flow: row;
}

.navbar-brand, .search-form, .account, .session, .cart {
  padding: 0em 1em 0em 1em;
}
.account *, .session *, .cart * {
  cursor: pointer;
}

.search-container {
  position: relative;
}


.search-form button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/*.dropbtn {*/
/*  padding: 0;*/
/*  background: none;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  font-size: inherit;*/
/*}*/

/*!* Dropdown button on hover & focus *!*/
/*.dropbtn:hover, .dropbtn:focus {*/
/*  color: black;*/
/*}*/

/*!* The container <div> - needed to position the dropdown content *!*/
/*.dropdown {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*}*/

/*!* Dropdown Content (Hidden by Default) *!*/
/*.dropdown-content {*/
/*  display: none;*/
/*  position: absolute;*/
/*  background-color: #f9f9f9;*/
/*  min-width: 160px;*/
/*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*  z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*  color: black;*/
/*  padding: 12px 16px;*/
/*  text-decoration: none;*/
/*  display: block;*/
/*}*/

/*.dropdown-content a:hover {*/
/*  background-color: #f1f1f1;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*  display: block;*/
/*}*/

/*.dropdown:hover .dropbtn span{*/
/*  color: black;*/
/*}*/

.profile {
  display: flex;
  flex:1;
  justify-content: end;
}


.dropdown-content {
  border-radius: 4px;
  padding: 5px 0;
}

.dropdown-content a {
  font-family: 'Jaldi', sans-serif;
  padding: 10px 15px;
  display: block;
  color: #333333; /* Color del texto */
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f2f2f2; /* Color de fondo al pasar el cursor */
}

.dropdown-divider {
  border: 0;
  height: 0.5px;
  background-color: #333333; /* Elige el color que prefieras para la línea */
  margin: 10px 0; /* Ajusta el espacio vertical antes y después de la línea */
}

.logout{
  cursor: pointer;
}

.profile-name {
  font-family: 'Jaldi', sans-serif !important;
  color: #333333 !important;
}
.profile-picture {
  cursor: pointer;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #071F4D;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: auto;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #333333; /* Ajusta este color al que estés usando para tus enlaces */
}

.dropdown-profile-picture {
  width: 40px; /* Ajusta el tamaño según necesites */
  height: 40px; /* Ajusta el tamaño según necesites */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
