<main>
  @if (article){
    <div class="article">
      <h1>{{article.title}}</h1>
      <p><span class="author">{{article.author}}</span> | <span class="date">{{article.date}}</span></p>
      <div class="banner-container">
        <img src="https://assets-prd.ignimgs.com/2024/02/09/helldivers2-blogroll-1707522009783.jpg">
      </div>
      <div id="dataBaseText">
        @for (p of this.article.paragraphs; track p){
          <p> {{ p }}</p>
        }
      </div>
    </div>
    <div class="side-column">
      <h2>Most Popular</h2>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
    </div>
  }
</main>
