main {
  display: flex;
}
.article-main {
  flex: 2;
  padding: 20px;
}
.side-column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.article-main h1 {
  text-align: center;
  font-weight: bold;
}
.author {
  font-weight: bold;
}
.date {
  color: #888;
}
.article-main .banner-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 3%;
}
.article-main .banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article p{
  text-align: justify;
  font-size: large;
}

app-article-preview {
  margin-bottom: 2%;
}
.article-main p {
  text-align: justify;
}
@media screen and (max-width: 1080px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
