<main>
  @if (article){
    <div class="article-main">
      <h1>{{article.title}}</h1>
      <p><span class="author">{{article.author}}</span> | <span class="date">{{article.date}}</span></p>
      <div class="banner-container">
        <img src="{{article.imageUrl}}">
      </div>
      <div id="dataBaseText">
        @for (p of this.article.paragraphs; track p){
          <p> {{ p }}</p>
        }
      </div>
    </div>
    <div class="side-column">

      @if(game){
        <h2>This article belongs to the game:</h2>
        <app-game-view [game] = game ></app-game-view>
      }
      <h2>Most Popular</h2>
      @for(articlePreview of articles; track article) {
        <app-article-preview [article] = "articlePreview" ></app-article-preview>
      }
    </div>
  }
</main>
