.article-preview {
  display: flex;
  flex-direction: column;  /* Cambiado a column para apilar verticalmente */
  justify-content: flex-start;
  align-items: center;
  width: 20em;
  height: 10em;
  border-radius: 10px;
  padding: 10px;
  background-color: #D9D9D9;
  cursor: pointer;
}

.article-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  /* Usa el ancho total del .article-preview */
  height: 80%;  /* Usa el 80% del alto del .article-preview */
}

.article-preview img {
  width: 5em;
  height: 5em;
  margin-right: 10px;
  border-radius: 5px;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-info h2 {
  margin: 0;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.article-info p {
  margin: 0;
  font-size: 0.8em;
}

h4 {
  width: 100%;
  font-size: 0.8em;
  text-align: left;
  margin: 0;
  padding-top: 5px;
}

