main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 0em 2em 0em;
}

.about {
  display: flex;
  flex-flow: row wrap;
}

.left-about {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0em 1em 1em 0em;
}

.game-image {
  display: flex;
  width: 100%;
  min-height: 20em;
}

.game-image img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}
.game-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2em;
}

.game-about p {
  text-align: justify;
}

.right-about {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 30em;
  height: 100%;
  padding: 0em 0em 1em 1em;
}

.game-score {
  border-radius: 15px;
  background-color: darkgray;
  max-height: 20em;
  min-height: 15em;
  padding-bottom: 1em;
}

.game-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.game-details.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-details.title.text{
    padding-right: 1em;
}

.game-details.score {
  width: 8%;
  height: 8%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  background-color: red;
  line-height: 1;
}

.game-details.score.good{
  background-color: green;
}

.game-details.score.mid{
  background-color: yellow;
}

.game-actions {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: 30%;
  padding-top: 2em;
}

.game-actions.add-game, .game-actions.add-review {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  height: 2.5em;
  min-width: 35%;
  padding: 0.5em;
  border-radius: 15px;
  cursor: pointer;
}

.game-actions.add-game:hover, .game-actions.add-review:hover {
  background-color: #959595;
}

.game-actions.add-game span, .game-actions.add-review span{
  cursor: pointer;
}

.latest-articles, .user-reviews {
  width: 95%;
}

.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 10%;
}

.reviews-container {
  display: flex;
  width: 100%;
  height: 5em;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .left-about {
    width: 100%;
  }
}
