.main-content {
  display: flex;
}
.left, .right {
  display: flex;
  width: 15%;
  flex-flow: row;
}
.main {
  width: 70%;
}

.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
