
<div class="popup-content">
  <div class="popup-header">
    <img src="assets/Logo.png" class="popup-icon">
    <div class="popup-title">Únete a PixelBoom</div>
  </div>
  <form class="popup-form" id="popup-form" [formGroup]="registerForm" (ngSubmit)="submit()" >
    @if (message){
      <div>{{message}}</div>
    }

    <label class="popup-label" for="name">Nombre</label>
    <input class="popup-input" type="text" id="name" formControlName="nombre" required>

    <label class="popup-label" for="surname">Apellidos</label>
    <input class="popup-input" type="text" id="surname" formControlName="apellidos" required>

    <label class="popup-label" for="email">Email</label>
    <input class="popup-input" type="email" id="email" formControlName="email" required>

    <label class="popup-label" for="password">Contraseña</label>
    <input class="popup-input" type="password" id="password" formControlName="password" required>

    <button class="popup-button" type="submit" id="register">Registrarse</button>
  </form>
</div>

